---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

// Our variables
$logo-font-family: 'Dancing Script', cursive;
$logo-font-size: 32px;
$logo-font-weight: 400;

$heading-font-family: "Droid Serif", serif;
$heading-font-weight: 400;
$heading-font-size: 32px;
$heading-mob-font-size: $heading-font-size - 2;
$h2-heading-font-size: $heading-font-size - 4;
$h2-mob-heading-font-size: $h2-heading-font-size - 2;
$h3-heading-font-size: $h2-heading-font-size - 2;
$h3-mob-heading-font-size: $h3-heading-font-size - 2;
$h4-heading-font-size: $h3-heading-font-size - 2;
$h4-mob-heading-font-size: $h4-heading-font-size - 2;

$base-font-family: "Source Sans Pro", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     20px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
