---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro&subset=latin,latin-ext);

// Our variables
$heading-font-family: "Droid Serif", serif;
$heading-font-weight: 400;

$heading-font-size: 32px;
$heading-mob-font-size: $heading-font-size - 6;

$h2-heading-font-size: $heading-font-size - 4;
$h2-mob-heading-font-size: $h2-heading-font-size - 6;

$h3-heading-font-size: $h2-heading-font-size - 2;
$h3-mob-heading-font-size: $h3-heading-font-size - 6;

$h4-heading-font-size: $h3-heading-font-size - 2;
$h4-mob-heading-font-size: $h4-heading-font-size - 6;

$base-font-family: "Source Sans Pro", sans-serif;
$base-font-weight: 400;

$base-font-size: 18px;
$base-mob-font-size: 14px;

$small-font-size: $base-font-size * 0.75;
$small-mob-font-size: $base-mob-font-size * 0.75;

$code-font-family: "Source Code Pro", monospace;
$code-base-size: 16px;
$code-mob-size: 14px;

$base-line-height: 1.35;

$spacing-unit: 18px;

// Palette
$p-red-c: #d64541;
$p-black-c: #000;
$p-white-c: #fff;
$p-gray-c: #abb7b7;
$p-gray-light-c: #bdc3c7;
$p-smoke-c: #ececec;
$p-lynch-c: #34495e;

// Width of the content area
$content-width: 750px;

$on-palm: 450px;
$on-laptop: 700px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin transition($val) {
  transition: unquote($val);
  -moz-transition: unquote($val);
  -webkit-transition: unquote($val);
  -ms-transition: unquote($val);
  -o-transition: unquote($val);
}

@mixin cross-font-size($desktop, $palm) {
  font-size: $desktop;

  @include media-query($on-laptop) {
    font-size: $palm;
  }
}

@mixin logo-hover($bg, $bg-hover, $l, $l-hover) {
  pointer-events: none;

  #link-fill {
    fill: $bg;
    @include transition("fill 0.5s ease");
  }

  #bg {
    fill: $bg;
    @include transition("fill 0.5s ease");
  }

  #letter {
    fill: $l;
    @include transition("fill 0.5s ease");
  }

  a {
    pointer-events: auto;
  }

  &:hover {
    #link-fill {
      fill: $bg-hover;
    }

    #bg {
      fill: $bg-hover;
    }

    #letter {
      fill: $l-hover;
    }
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"list",
"page",
"about",
"syntax-highlighting";
