<footer class="footer">
  <nav class="footer-nav">

    <a class="footer-nav-item" href="{{ site.baseurl }}/">
      <span class="fa fa-home fa-lg"></span>
    </a>

    <a class="footer-nav-item" href="https://github.com/{{ site.github_username }}">
      <span class="fa fa-github fa-lg"></span>
    </a>

    <a class="footer-nav-item" href="https://ru.linkedin.com/in/{{ site.linkedin_username }}/en">
      <span class="fa fa-linkedin fa-lg"></span>
    </a>

    <a class="footer-nav-item" href="https://twitter.com/{{ site.twitter_username }}">
      <span class="fa fa-twitter fa-lg"></span>
    </a>

    <a class="footer-nav-item" href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <span class="fa fa-rss fa-lg"></span>
    </a>

    <a class="footer-nav-item" href="{{ "/about" | prepend: site.baseurl }}">
      <span class="fa fa-question fa-lg"></span>
    </a>
  </nav>
</footer>
