<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
        <a class="page-link" href="https://github.com/{{ site.github_username }}">
            <span class=" fa fa-github fa-lg"></span>
        </a>

        <a class="page-link" href="https://ru.linkedin.com/in/{{ site.linkedin_username }}/en">
            <span class="fa fa-linkedin fa-lg"></span>
        </a>

        <a class="page-link" href="https://twitter.com/{{ site.twitter_username }}">
            <span class=" fa fa-twitter fa-lg"></span>
        </a>

        <a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <span class="fa fa-rss fa-lg"></span>
        </a>

        <a class="page-link" href="{{ "/about" | prepend: site.baseurl }}">
            <span class="fa fa-question fa-lg"></span>
        </a>
    </nav>

  </div>

</header>
