/**
 * Site header
 */
.site-header {
    border-top: 1px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
}

.site-title {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    font-weight: $logo-font-weight;
    line-height: 56px;
    letter-spacing: -0.0px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .page-link {
        color: $grey-color-dark;
        line-height: $base-line-height;
        text-decoration: none;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover {
            color: $text-color;
        }
    }

    // Remove navs on smaller screens
    @include media-query($on-palm) {
        .hide-on-mobile {
            display: none;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    font-size: $small-font-size;
    color: #grey-color;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

    h2 {
        margin-bottom: $spacing-unit / 2;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: $heading-font-size;
    font-family: $heading-font-family;
}



/**
 * Posts
 */

.post-title {
    font-size: $heading-font-size;
    font-family: $heading-font-family;
    margin-bottom: $spacing-unit / 2;

    @include media-query($on-laptop) {
        font-size: $heading-font-size;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: $h2-heading-font-size;

        @include media-query($on-laptop) {
            font-size: $h2-mob-heading-font-size;
        }
    }

    h3 {
        font-size: $h3-heading-font-size;

        @include media-query($on-laptop) {
            font-size: $h3-mob-heading-font-size;
        }
    }

    h4 {
        font-size: $h4-heading-font-size;

        @include media-query($on-laptop) {
            font-size: $h4-mob-heading-font-size;
        }
    }
}

/**
* About
*/

.about {
    .post-title {
        text-align: center;
    }
}

.about-photo {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.about-tldr {
    width: $content-width / 2;
    margin: $spacing-unit auto;
}

.about-extended {
    margin-top: $spacing-unit;
}