/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  @include media-query($on-palm) {
    font-size: $base-mob-font-size;
    line-height: #{$base-mob-font-size}/#{$base-line-height};
  }

  color: $p-black-c;
  background-color: $p-white-c;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  padding: $spacing-unit * 1.5 $spacing-unit 0;
  min-width: 320px;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}

%half-vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  font-family: $heading-font-family;
}

h2 {
  @include cross-font-size($heading-font-size, $heading-mob-font-size);
}

h2 {
  @include cross-font-size($h2-heading-font-size, $h2-mob-heading-font-size);
}

h3 {
  @include cross-font-size($h3-heading-font-size, $h3-mob-heading-font-size);
}

h4 {
  @include cross-font-size($h4-heading-font-size, $h4-mob-heading-font-size);
}

/**
 * Blockquotes
 */
blockquote {
  color: $p-gray-c;
  border-left: 4px solid $p-gray-light-c;
  padding-left: $spacing-unit / 2;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  border: 1px dotted $p-gray-c;
  border-radius: 2px;
  // background-color: #fff;
  font-family: $code-font-family;
  @include cross-font-size($code-base-size, $code-mob-size);
}

code {
  padding: 1px 2px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// Main page blocks
.header {
  @extend %wrapper;
  @extend %vertical-rhythm;

  padding-top: $spacing-unit / 2;
  border-top: 2px solid $p-black-c;

  font-family: $heading-font-family;
  font-weight: $heading-font-weight;

  font-size: $heading-font-size;
  line-height: $heading-font-size + 8;

  @include media-query($on-palm) {
    font-size: $heading-mob-font-size;
    line-height: $heading-mob-font-size + 8;
  }
}

.main {
  @extend %wrapper;

  a {
    @include transition("color 0.5s ease, background-color 0.5s ease, border-bottom-color 0.5s ease");

    text-decoration: none;

    color: $p-black-c;
    border-bottom: dotted 1px $p-black-c;

    &:hover {
      color: $p-red-c;
      background-color: $p-smoke-c;
      border-bottom-color: $p-red-c;
    }
  }

  p {
    text-align: justify;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  hr {
    margin-left: -$spacing-unit;
    margin-right: -$spacing-unit;
  }

  .footnotes {
    margin-top: $spacing-unit;
  }
}

.footer {
  @extend %wrapper;
  @extend %vertical-rhythm;

  border-top: 1px dashed $p-gray-light-c;
  padding-top: $spacing-unit;
}

.footer-nav {
  @include flexbox;
  justify-content: space-around;
}

.footer-nav-item {
  color: $p-black-c;
  text-decoration: none;

  @include transition("color 0.5s ease");

  &:hover {
    color: $p-red-c;
  }
}
